.App{
  text-align: center;
}
.characterList{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  list-style: none;
  padding: 0;
  grid-gap: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
.listItems{
  background-color: rgb(229, 240, 236);;
  border: 1px solid black;
  display: grid;
  text-align: center;
}
.characterImg{
  width: auto;
  height: 250px;
}